# Ignore Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
**/venv/
**/.venv/
**/env/
**/.env/

# Ignore documentation build artifacts
**/docs/_build/
**/build/
**/dist/

# Ignore Jupyter Notebook files and checkpoints
**/.ipynb_checkpoints
**/.virtual_documents
.ipynb_checkpoints
.virtual_documents
# Ignore any PDF files under scrapping folder (anywhere)
scrapping/**/*.pdf
scrapping/**/*.docx